# Twilio Configuration - Add to .env.local
# Get these from https://www.twilio.com/console

VITE_TWILIO_ACCOUNT_SID=acXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_TWILIO_AUTH_TOKEN=your_auth_token_here
VITE_TWILIO_PHONE_NUMBER=+1234567890
